.forgot-password {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .forgot-password-container {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-left {
    flex: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .forgot-password-right {
    flex: 1;
    padding: 40px;
    background-color: #fffcf6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .forgot-password-left img {
    width: 100%;
    height: 100%;
    /* margin-left: -70px; */
    /* object-fit: fill; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .forgot-password-container h1 {
    color: #ff4141;
    font-size: 40px;
    font-weight: bold;
    text-align: start;
  }
  .forgot-password-fields {
    margin-top: 30px;
    text-align: left;
    font-size: 14px;
  }
  .forgot-password-fields label {
    color: #5c5c5c;
  }
  .forgot-password-fields input {
    width: 90%;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
  }
  .forgot-password-container button {
    width: 30%;
    height: 40px;
    background: #ff4141;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    align-items: end;
    justify-content: flex-end;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  .forgot-password-container button:hover {
    background: #ff6363;
  }
  
  .forgot-password-container p {
    color: #ff4141;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  .forgot-password-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .forgot-password-login button {
    background-color: #ff4141;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .error-message {
    color: red;
  }
  @media only screen and (max-width: 768px) {
    .forgot-password-container {
      flex-direction: column;
    }
  
    .forgot-password-left,
    .forgot-password-right {
      flex: 1;
      border-radius: 0;
    }
  
    .forgot-password-left {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .forgot-password-right {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  
    .forgot-password-fields input {
      width: calc(100% - 30px); 
    }
  }
  